html,
body {
    background: rgb(148, 139, 139);
    block-size: 100%;
    position: relative;
}
.containerSignUp {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 800px;
    height: 600px;
    background: #F2F2F2;
}
.formContainer {
    position: relative;
    left: 68px;
    top: 60.48px;
    width: 665px;
    height: 480px; 
}
.blueContainer {
    position: relative;
    left: 0px;
    top: 0px;
    width: 137.2px;
    height: 480px;
    float: left;
    background: rgba(90, 97, 237, 1);
}
#signUp{
    position: absolute;
    height: 63px;
    width: 162px;
    left: 10.3%;
    right: 65.34%;
    top: 296.02px;
    
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 63px;
    letter-spacing: 0.5px;

    color: #FFFFFF;

    transform: rotate(-90deg);
}
.whiteContainer {
    position: relative;
    left: 137.2px;
    top: 0px;
    width: 527.8px;
    height: 480px;
    background: rgba(255, 255, 255, 1);
}
